html,body{
    padding: 0;
    margin: 0;
}


.home-page{
    background-color: black;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-components{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}
.btn-comp{
    width: 220px;
    height: 220px;
    background-color: #000;
    border-radius: 50px;
    margin: 25px;
    box-shadow: 0px 0px 40px 7px rgba(254, 125, 5, 0.40);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s ease;
}
.btn-comp:hover{
    background-color: #ffffff;
}
.icon{
    font-size: 120px;
    color: #FE7D05;
}


